<ion-app  >
  <ion-split-pane class="{{global.state['theme']}}">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Themes</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <button menuClose ion-item *ngFor="let p of appPages" (click)="changeTheme(p.theme)">
            <ion-avatar  item-start>
              <img [src]="p.color"/>
            </ion-avatar>
              {{p.title}}
          </button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->
  </ion-split-pane>
</ion-app>
